# Database Credentials
MYSQL_ROOT_PASSWORD=Minmoy@1234@
MYSQL_DATABASE=invoice_db

# Google Drive & Sheets Integration
DRIVE_FOLDER_ID=1gTwzZ76i7saaiEiM_cd09LSL1IiAospQ
APPS_SCRIPT_URL=https://script.google.com/macros/s/AKfycbx50k2wz5EvlNHyZELG0lRQyb7Q8m7moeaEjDSbslWo36qyW0oBVduoCRkdU21A49L5/exec
DELETE_SCRIPT_URL=https://script.google.com/macros/s/AKfycbx50k2wz5EvlNHyZELG0lRQyb7Q8m7moeaEjDSbslWo36qyW0oBVduoCRkdU21A49L5/exec

# Google OAuth2 Json Strings (Optional if credentials.json & token.json exist in server/)
# GOOGLE_CREDENTIALS={"installed":{"client_id":"...","client_secret":"..."}}
# GOOGLE_TOKEN={"access_token":"...","refresh_token":"..."}
